---
# The following is only required for Drawful(2) integration
# Copy this file to secrets.yaml and insert your own values
#
# (No, these are not my actual keys, they're randomly generated hex values just
# to demonstrate what the file should look like)
azure:
    bing_api:
        name: quipbot_forward_image
        key: e9c144e97823e0726b04029d755ff6b4
    vision_api:
        name: quipbot_reverse_image
        key: 7dc6fd524788e1c688d84755c8421826
e926:
    e926_api:
        name: MyE9Username
        key: c9ef8c8552685a44b2e12cd9e5b4eb40
